.user-table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 50px;
  display: flex;
  align-content: flex-start;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  min-width: 800px;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

/* Encabezado */
.user-table thead tr {
  background-color: #6A2C75; /* Pantone 33-16 C */
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}

.user-table th,
.user-table td {
  padding: 8px 15px;
  text-align: center;
  white-space: nowrap;
}

/* Fila alterna */
.user-table tbody tr:nth-of-type(even) {
  background-color: #BBA4C0; /* Pantone P23-1 C */
  font-weight: 600;
}

.user-table tbody tr {
  border-bottom: 1px solid #888;
}

.user-table tbody tr:last-of-type {
  border-bottom: 2px solid #888;
}

/* Botones */
.edit-buton,
.delete-buton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.edit-buton {
  background-color: #D6A644; /* Pantone 7504C al 50% */
  color: #000000;
}

.delete-buton {
  background-color: #6A2C75; /* Pantone P703 C */
  color: #FFFFFF;
}

.edit-buton:hover,
.delete-buton:hover {
  opacity: 0.9;
  filter: brightness(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .user-table-container {
    display: block;
    overflow-x: auto;
  }

  .user-table {
    font-size: 0.9rem;
    width: max-content;
  }

  .user-table th,
  .user-table td {
    padding: 8px 10px;
  }

  .edit-btn,
  .delete-btn {
    width: 35px;
    height: 35px;
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .user-table {
    font-size: 0.85rem;
    min-width: 500px;
  }

  .edit-btn,
  .delete-btn {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .user-table th,
  .user-table td {
    padding: 6px 8px;
  }
}
