.card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  transition: transform 0.3s ease;
  min-height: 150px;
}

.light-mode .card {
  background-color: #fff;
  color: #333;
}

.dark-mode .card {
  background-color: #333;
  color: white;
}
.card:hover {
  transform: translateY(-10px);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: inherit;
}
.card-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: inherit;
}
.card-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: inherit;
}

.favorite-btn {
  position: absolute;
  top: -8px;
  right: -15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.favorite-btn:hover {
  color: gold;
  outline: none;
}
.favorite-btn:focus {
  outline: none;
}
.favorite-btn:active {
  outline: none;
}

@media (max-width: 480px) {
  .grid {
    flex-direction: column;
  }
}
