.product-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 50px;
  display: flex;
  align-content: flex-start;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  min-width: 900px;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.product-table thead tr {
  background-color: #473524;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.product-table th,
.product-table td {
  padding: 8px 15px;
  text-align: center;
  white-space: nowrap;
}

.product-table tbody tr {
  border-bottom: 1px solid #888;
}

.product-table tbody tr:nth-of-type(even) {
  background-color: #d7c9b9;
  font-weight: 600;
}

.product-table tbody tr:last-of-type {
  border-bottom: 3px solid #888;
}

.edit-btn,
.delete-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.edit-btn {
  background-color: #d6a644;
  color: #fff;
}

.delete-btn {
  background-color: #aa4969;
  color: #fff;
}
.edit-btn:hover,
.delete-btn:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .product-container {
    display: block;
    overflow-x: auto; 
  }

  .product-table {
    font-size: 0.9rem;
    width: max-content; /* Se ajusta según el contenido */
  }

  .product-table th,
  .product-table td {
    padding: 8px 10px;
  }

  .edit-btn,
  .delete-btn {
    width: 35px;
    height: 35px;
    padding: 6px;
  }
}

/* Celulares y pantallas pequeñas */
@media (max-width: 480px) {
  .product-table {
    font-size: 0.85rem;
    min-width: 500px; /* Reduce aún más el ancho mínimo */
  }

  .edit-btn,
  .delete-btn {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .product-table th,
  .product-table td {
    padding: 6px 8px;
  }
}
