.manage-users {
  justify-content: flex-start;
  padding: 20px;
  margin-top: 90px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title-user {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Veneer", sans-serif;
  font-size: 3rem;
  color: #473524;
  margin-top: -90px;
}

.header-section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.add-user-button {
  background-color: #473524;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
  margin-bottom: -40px;
  width: 250px;
}

.add-user-button:hover {
  opacity: 0.9;
}

.back-button {
  background-color: #d6a644;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
  margin-bottom: -40px;
  margin-right: 15px;
  width: 250px;
}

.back-button:hover {
  opacity: 0.9;
}

.datatable-section {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .title-user {
    font-size: 2.5rem;
    margin-top: -40px;
  }

  .header-section {
    justify-content: flex-end; /* Centra los botones en pantallas medianas */
    gap: 15px;
  }

  .add-user-button,
  .back-button {
    width: 200px;
    font-size: 0.95rem;
  }
}

/* Celulares y pantallas pequeñas */
@media (max-width: 480px) {
  .title-user {
    font-size: 2rem;
    margin-top: -20px;
  }

  .header-section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .add-user-button,
  .back-button {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
  }

  .add-user-button {
    margin-top: 45px;
  }
}
