.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 650px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #6A2C75;
  font-size: 22px;
  text-align: center;
}

.modal-content p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.modal-content iframe {
  width: 100%;
  height: 800px;
  margin: 20px 0;
  border: none;
  border-radius: 30px;
}

.url-btn {
  margin: 10px 5px 0 0;
  padding: 10px 20px;
  background-color: #6A2C75;;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-content button:hover {
  opacity: 0.9;
}

.close-button{
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: #ca5050;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    padding: 15px;
    margin: 15px 50px 10px 10px;
  }

  .modal-content iframe {
    height: 300px;
  }

  .modal-content h2 {
    font-size: 20px;
  }

  .modal-content p {
    font-size: 14px;
  }

  .url-btn {
    padding: 8px 16px;
  }

  .close-button {
    top: 10px;
    right: 10px;
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    margin: 15px 80px 10px 10px;
  }
  .modal-content {
    width: 90%;
    padding: 15px;
  }

  .modal-content iframe {
    height: 250px;
  }

  .modal-content h2 {
    font-size: 18px;
  }

  .modal-content p {
    font-size: 14px;
  }

  .url-btn {
    padding: 6px 14px;
  }

  .close-button {
    top: 5px;
    right: 5px;
    font-size: 26px;
  }
}